[submodule "Common"]
	path = Common
	url = https://github.com/EA31337/EA31337-indicators-common.git
[submodule "Other"]
	path = Other
	url = https://github.com/EA31337/EA31337-indicators-other.git
[submodule "Oscillators"]
	path = Oscillators
	url = https://github.com/EA31337/EA31337-indicators-oscillators.git
